<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Error</title>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div id="column_400">
    <p class="errors">Lottery is finished</p>
</div>
<script>
    setTimeout(function() {
      window.location.href = '/lottery';
    }, 4000);
</script>
</body>
</html>
