<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Change password</title>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div id="column_400">
    <h1>Change password</h1>
    <form id="form_style" th:action="@{/change_password}" th:object="${changePassword}" method="post">

        <label for="password">New password:</label>
        <input type="password" id="password" th:field="*{newPassword}" name="newPassword" required><br><br>

        <label for="matchPassword">Confirm:</label>
        <input type="password" id="matchPassword" name="matchPassword" required><br><br>

        <input type="hidden" th:value="${token}" name="token" required><br><br>

        <input type="submit" value="Change password" onclick="return validateForm()">
    </form>
</div>

<script>
function validateForm() {
    var newPassword = document.getElementById("password").value;
    var matchPassword = document.getElementById("matchPassword").value;

    if (newPassword !== matchPassword) {
        alert("Passwords do not match. Please confirm your password again.");
        return false;
    }
    return true;
}

</script>

</body>
</html>
