<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login Page</title>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
    <div id = "column_400">
        <form id = "form_style" th:action="@{/login}" method="post">
            <label for="username">Login:</label>
            <input type="text" id="username" name="username" required><br><br>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>

            <div class="inline-elements">
                <label for="remember"> Remember me</label>
                <input type="checkbox" id="remember" name="remember" />
            </div>

            <input type="submit" value="Login">

            <p th:if="${param.error}" style="color:red;">Invalid credentials. Please try again.</p>
                <p></p>
                <a href="/reset_password" style="color: blue;">Reset password</a>
        </form>
    </div>

</body>
</html>
