<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login Page</title>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
</head>
<body>
<h2 class="lottery-heading">
    The randomness of our lotteries comes from atmospheric noise
</h2>
<div id = "column_400">
        <form id = "form_style" th:action="@{/login}" method="post">
            <label for="username">Login:</label>
            <div class="icon-input username-icon">
            <input type="text" class="modern-input padding-for-icon" id="username" name="username" placeholder="Login" required><br><br>
            </div>

            <label for="password">Password:</label>
            <div class="icon-input password-icon">
            <input type="password" class="modern-input padding-for-icon" id="password" name="password" placeholder="Password" required><br><br>
            </div>

            <div class="inline-elements">
                <label for="remember"> Remember me</label>
                <input type="checkbox" id="remember" name="remember" />
            </div>

            <input type="submit" value="Login">

            <p th:if="${param.error}" style="color:red;">Invalid credentials. Please try again.</p>
                <p></p>
                <a href="/reset_password" style="color: blue;">Reset password</a>
        </form>
    </div>
</body>
</html>
