<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Error</title>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div id="column_400">

    <button id="go_back" onclick="window.location.href='/lottery'">Back</button>

    <form id="form_style" th:action="@{/lottery/manage}" method="POST">

        <select name="eventId">
            <tbody th:each="lottery: ${lotteries}">
            <option th:value="${lottery.id}" th:text="${lottery.eventName}" name="lottery"></option>
            </tbody>
        </select>
        <input id="delete" type="submit" value="Delete" th:disabled="${lotteries.empty}">

    </form>
</div>
</body>
</html>
