<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Reset password</title>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div id="column_400">
    <h1>Reset password</h1>
    <button id="go_back" onclick="history.back()" style="top: 4rem;">Back</button>
    <form id="form_style" th:action="@{/reset_password}" th:object="${emailRequest}" method="post">

        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{email}" name="email" required><br><br>

        <input type="submit" value="Reset password">
    </form>
</div>
</body>
</html>
